#skip {
    position: absolute;
    top: -30px;
    height: 25px;
    background-color: white;
}
#skip:focus {
    top: 15px;
    }

body {
    background-color: #edede9;
    color: rgb(0, 0, 0); 
    padding: 30px;
}
img {
    width: 100%;
    height: auto;
  }

nav {
    background-color: #d6ccc2;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(56, 56, 56, 0.7);
    transition: all 0.3s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    color: #1d3557;
}

nav ul li a:hover {
    color: #457b9d;
    text-decoration: underline;
}

@media screen and (min-width:768px) {

    #row2{
       grid-row:2;
    }

    nav ul {
        flex-direction: row;
    }

   #skip:focus {
    top: 15px;
    }
    body {
        font-family: 'Oswald', 'Trebuchet MS', sans-serif;
        list-style-type: square;
    }
}

@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* other changes to this grid */
    }
    .dark {
        background-color: black;
        color: white;
    }
    .light {
        background-color: rgb(255, 184, 184);
        color: black;
    }
    #theme_button {
        background-color: rgb(180, 234, 255);
        color: black;
        border: 2px solid white;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s;
    }
    #theme_button:hover {
        background-color: rgb(102, 179, 209);
        color: white;
        transform: scale(1.3);
    }
}